# Data Exploration

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly

### Data Sources

In [13]:
data_location='/Users/laurencemcdonald/Desktop/BigDataBowl/Data/nfl-big-data-bowl-2022/'

In [14]:
pd.read_csv(data_location+'games.csv').head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,2018090600,2018,1,09/06/2018,20:20:00,PHI,ATL
1,2018090900,2018,1,09/09/2018,13:00:00,BAL,BUF
2,2018090901,2018,1,09/09/2018,13:00:00,CLE,PIT
3,2018090902,2018,1,09/09/2018,13:00:00,IND,CIN
4,2018090903,2018,1,09/09/2018,13:00:00,MIA,TEN

In [9]:
! ls '/Users/laurencemcdonald/Desktop/BigDataBowl/Data/nfl-big-data-bowl-2022'

PFFScoutingData.csv players.csv         tracking2018.csv    tracking2020.csv
games.csv           plays.csv           tracking2019.csv